<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

			<beans>
				<bean id="q" class="beans.Question">
					<constructor-arg value="111"></constructor-arg>
					<constructor-arg value="What is Java?"></constructor-arg>
					<constructor-arg>
						<map>
							<entry key="Java is programming language." value="Ajay kumar"></entry>
							<entry key="Java is a platform." value="John Smith"></entry>
							<entry key="Java is an Island." value="Raj Kumar"></entry>
						</map>
					</constructor-arg>
				</bean>
				
				
				
			</beans>