<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
			
		<beans>
			<bean id="address" class="beans.Address">
				<property name="landmark" value="New Sangavi"></property>
				<property name="city" value="Pune"></property>
				<property name="state" value="Maharashtra"></property>
				<property name="country" value="India"></property>
			</bean>
		
			<bean id="emp" class="beans.Employee">
				<property name="id" value="1"></property>
				<property name="name" value="Avinash"></property>
				<property name="address" ref="address"></property>
			</bean>
		</beans>	